{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block body %}
<div id="gameDiv"></div>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/boot.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/load.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/menu.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/overview.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/inview.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/game.js"></script>
{% endblock %}